@use "global" as *;
.global-menu__list {
  @include mq(md) {
    // seize
    height: 100%;
    // align
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @include mq(xl) {
  }
}
